/**********************************************************************************************************************
*
* BASIC STYLES
* 
* MOBILE-FIRST APPROACH. USE THE FOLLOWING MEDIA QUERIES FOR ADDITINAL SIZES:
*   Portrait phones (xs):   (default)
*   Landscape phones (s):   @media (min-width: 576px) {}
*   Tablets (m):            @media (min-width: 768px) {}
*   Desktops (l):           @media (min-width: 992px) {}
*   Large desktops (xl):    @media (min-width: 1200px) {}
*
**********************************************************************************************************************/

:root {
    --color-title-dark: #000;
    --color-title-light: #999;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}


/**********************************************************************************************************************
*
* COMING SOON PAGE
*
**********************************************************************************************************************/

body.coming-soon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: url(/img/pattern.jpg) #fafafa;
}

body.coming-soon .wrapper {
    text-align: center;
    margin-bottom: 20%;
    padding: 20px;
    background: rgb(255 255 255 / 30%);
    border-radius: 5px;
}

@media (min-width: 768px) {
    body.coming-soon .wrapper {
        padding: 40px;
    }
}

body.coming-soon h1 {
    font-family: "Montez", cursive;
    font-weight: 400;
    font-size: 90px;
    line-height: 1;
    margin: 0 0 20px 0;
    color: var(--color-title-light);
}

body.coming-soon h1 span {
    color: var(--color-title-dark);
}

@media (min-width: 768px) {
    body.coming-soon h1 {
        font-size: 160px;
        margin: 0 0 30px 0;
    }
}

body.coming-soon h2 {
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    margin: 0;
    color: #ddd;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    body.coming-soon h2 {
        font-size: 26px;
    }
}


/**********************************************************************************************************************
*
* APP
*
**********************************************************************************************************************/